<div class="region region-topbar">
  <%- partial('_partials/_regions/topbar') %>
</div>
<!-- /.region region-topbar -->
<div class="region region-branding">
  <%- partial('_partials/_regions/branding') %>
</div>
<!-- /.region region-branding -->
<div class="region region-navigation">
  <%- partial('_partials/_regions/navigation') %>
</div>
<!-- /.region region-navigation -->
<div class="main-container">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="region region-sidebar region-">
            <%- partial('_partials/_regions/sidebar-first') %>
          </div>
          <!-- /.region region-sidebar region-sidebar-first -->
        </div>
        <!-- /.col-xs-12 col-md-3 -->
        <div class="col-xs-12 col-md-6">
          <div class="highlighted">
            <div class="region region-highlighted">
              <%- partial('_partials/_regions/highlighted') %>
            </div>
            <!-- /.region region-highlighted -->
            <div class="region region-content">
              <%- partial('_partials/_regions/content') %>
            </div>
            <!-- /.region region-content -->
          </div>
          <!-- /.highlighted -->
        </div>
        <!-- /.col-xs-12 col-md-6 -->
        <div class="col-xs-12 col-md-3">
          <div class="region region-sidebar region-sidebar-second">
            <%- partial('_partials/_regions/sidebar-second') %>
          </div>
          <!-- /.region region-sidebar region-sidebar-second -->
        </div>
        <!-- /.col-xs-12 col-md-3 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.main-container -->
<div class="region region-footer">
  <%- partial('_partials/_regions/footer') %>
</div>
<!-- /.region region-footer -->
