<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% for (var menu_item of site.data.menu) { %>
          <% if (menu_item.child) { %>
            <li class="dropdown">
              <a href="<%= menu_item.path %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= menu_item.title %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% for (var child_menu_item of menu_item.child) { %>
                  <li><a href="<%= child_menu_item.path %>"><%= child_menu_item.title  %></a></li>
                  <% } %>
              </ul>
            </li>
          <% } else { %>
            <li><a href="<%= menu_item.path %>"> <%= menu_item.title %></a></li>
          <% } %>
        <% } %>











      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
